@xl: 1200px;
@lg: 992px;
@md: 768px;
@sm: 576px;

@color-control: black;
@color-control-border: black;
@color-control-bg: white;


html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.galleria-container {
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  display: flex;
  overflow: hidden;
  flex-direction: row;

  background: yellow;

  opacity: 0.8;

  &.alive {
    opacity: 1;
  }

  // Standard/small mode
  .viewer {
    display: none;
  }

  .previewer {
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;

    overflow: hidden;

    .image-container {
      display: flex;
      align-items: center;
      justify-content: center;
      background: blue;

      picture {
        height: 100%;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        background: blue;
        img {
          height: auto;
          width: auto;
          max-width:100%;
          margin: auto;
        }
      }

      width: 50%;
      border: thin solid black;
      @media (min-width: @md) {
        width: 33%;
      }
      @media (min-width: @lg) {
        width: 25%;
      }
    }
  }



  // Fullscreen/big mode
  &.fullscreen {

    width: 100%;
    height: 100%;

    .viewer {
      display: block;
      width: 80%;
      position: relative;
      background: cyan;

        .image-container {
          position: relative;
          height: 100%;
          width: 100%;

          overflow: hidden;

          background: lime;

          display: flex;
          align-items: center;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: center;

          flex-shrink: 1;

          picture,
          img {
            align-self: center;
            max-height: 100%;
            max-width: 100%;
          }


        }

      .controls {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 0;

        & > div {
          position: absolute;
          width: 20%;
          height: 100%;
          outline: thin solid green;
          display: flex;
          align-items: center;
          justify-content: center;

          span {
            display: block;
            padding: 2rem;
            background: fadeIn(@color-control-bg, 0.5);
            border-radius: 3rem;
            border: thin solid @color-control-border;
            overflow: visible;
            position: relative;

            &:after {
              margin: auto;
              content: "";
              width: 0;
              height: 0;
              border-top: 1rem solid transparent;
              border-bottom: 1rem solid transparent;
              border-right: 1rem solid @color-control-border;
              position: absolute;
              transform: translate(-.75rem, -1rem);
            }
          }
          &:hover {
            span {
              background: @color-control-bg;
            }

          }

        }
        .right {
          right: 0;
          span {
            &:after {
              border-right: none;
              border-left: 1rem solid @color-control-border;
              transform: translate(-.25rem, -1rem);
            }
          }
        }
      }
    }
    .previewer {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      width: 20%;
      height: 100%;

      overflow: scroll;

      .image-container {
        display: inline-block;
        width: 100%;
        padding: .5em;

        &.active {
          background: red;
        }

        img {
          width: 80%;
        }
      }
    }
  }
}